<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.jcurley217ucla.nock">

    <!--TODO: Remove Animations between switching tabs-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScoringActivity" android:label="@string/title_scoring"> </activity>
        <activity android:name=".TeamActivity" android:label="@string/title_team"> </activity>
        <activity android:name=".NewScoringActivity" android:label="@string/newScoring"></activity>
        <activity android:name=".ScoringOverviewActivity" android:label="@string/scoringRound"></activity>
        <activity android:name=".InputScoresActivity" android:label="Input Scores"></activity>
        <activity android:name=".PreviousScoringActivity" android:label="Previous Scoring Rounds"></activity>
        <activity android:name=".PreviousScoringOverviewActivity" android:label="Previous Scores"></activity>
        <activity android:name=".NewPresetActivity" android:label="Create New Preset"></activity>
        <activity android:name=".ViewPresetsActivity" android:label="View Presets"></activity>
        <activity android:name=".LoadFromPresetActivity" android:label="Load From Preset"></activity>
        <activity android:name=".ViewAllTeamsActivity" android:label="View All Teams"></activity>
        <activity android:name=".TeamProfileActivity" android:label="View All Teams"></activity>
        <activity android:name=".SubmitScoringActivity" android:label="Submit Scoring Activity"></activity>
        <activity android:name=".ViewMyTeamsActivity" android:label="My Teams"></activity>
    </application>

</manifest>